{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form action="." method="POST">
              <h2 class="mb-4">Add New Book</h2>
              <hr>
              <div class="mb-5"></div>
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary mt-4">Submit</button>
              {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}