
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3F2F7;
    font-size: 0.90rem;
    color: rgba(67, 66, 72) !important;
}
.form-control, .form-select {
    font-size: 0.90rem;
}

.book-card {
    border: 12.5px solid #ffffff;
    max-width: 166px;
}
.featured-books-cards .book-card {
    width: 14%;
}
.book-card .book-cover {
    height: 210px;
}
.book-list .book-cover {
    height: 55px;
}
.book-list .book-author {
    color: rgba(67, 66, 72);
    font-weight: 600;
}
.book-list .book-title {
    color: rgba(67, 66, 72, 60%);
    font-weight: 600;
}
.book-card .book-title {
    font-size: 85%;
    font-weight: 600;
    color: rgba(67, 66, 72, 50%);
    text-transform: uppercase;
}
.book-card .book-author {
    font-weight: 600;
    font-size: 120%;
    color: rgba(67, 66, 72);
}
.book-rating i {
    color: #dbb027;
}
.book-rating {
    color: #9b9b9b;
}

.featured-books .nav-link {
    color: rgba(67, 66, 72, 60%);
    font-weight: 600;
}
.featured-books .nav-link.active {
    color: rgba(67, 66, 72);
}

.book-list .header-column {
    color: rgba(67, 66, 72, 60%);
}

.w-10 {
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-40 {
    width: 40% !important;
}
.w-30 {
    width: 30% !important;
}
.w-60 {
    width: 60% !important;
}

.featured-books-cards .book-card:hover, 
.book-list-item:hover {
    cursor: pointer;
}

.book-list .badge {
    font-size: .85rem;
}